/*  your css code here. If applicable */
.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.hero>div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    text-align: center;
    justify-content: flex-start;
}

#btn{
    padding: 15px;
    background: red;
    color: white;
    border: none;
}